{% extends 'base.html' %} {% block title %} Homepage {% endblock %} {% block body %}

<div class="container">
    <h1>Hello World</h1>
    <img src={{url_for( 'static', filename="drilldown.jpg" )}} height="250" width="250" />
    <ol>
        {% for i in ls%}
        <li>{{ i }}</li>
        {% endfor %}
    </ol>
    {% if 'Pine' in ls %}
    <p> Pine is present</p>
    {% elif 'mango' in ls %}
    <p>Mango is present</p>
    {% else %}
    <p>None present</p>
    {% endif %}

    <form method="POST">
        <input type="password" name="password" />
        <input type="submit" name="login" />
    </form>
    <button type="submit" class="btn btn-primary">Login</button>
</div>
{% endblock %}